@page "/Registro/Index"
@rendermode InteractiveServer 
@inject PrestamoService PrestamoServices
@inject NavigationManager navigation

<PageTitle>Registro</PageTitle>
<div class="container">
	<div class="card shadow-lg">

		<div class="card-header">
			<h5 class="card-title">Registro Prestamo</h5>
		</div>
		<div class="card-body">
			<div class="row mb-3 ">
				<div class="col md-8">
					@*Filro*@
					<InputSelect class="form-select" @bind-Value="Filtro">
						<option value="id">Id</option>
						<option value="nombre">Nombre</option>
					</InputSelect>
				</div>
				<div class="col-md-8">
					<div class="input-group">
						<InputText @bind-Value="ValorFiltro" class="form-control" ></InputText>
						<button type="button" class="btn btn-outline-primary bi bi-search"></button>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col md-8">
						<a href="/Prestamos/Create" class="btn btn-outline-primary">
						<span class="bi bi-floppy">Crear</span>
						</a>
					</div>

				</div>

			</div>
			<table class="table table-dark table-hover">
			<thead class="table table-striped ">
				<tr class="text-center " >
					<th>Id</th>
					<th>Nombre</th>
					<th>Concepto</th>
					<th>Deuda</th>
					<th>Detalles</th>
					<th>Modificar</th>
					<th>Eliminar</th>
				</tr>
			</thead> 
			<tbody>
					@foreach(var Prestamo in ListPrestamos)
					{
						<tr class="text-center text-white">
							<th>@Prestamo.DeudorId</th>
							<th>@Prestamo.Nombres</th>
							<th>@Prestamo.Concepto</th>
							<th>@Prestamo.Deuda $</th>
							<td class="text-center">
								<a href="/Prestamos/Details/@Prestamo.DeudorId" class="btn btn-outline-light  bi-eye"></a>
							</td>
							<td class="text-center">
								<a href="/Prestamos/Edit/@Prestamo.DeudorId" class="btn btn-outline-light bi bi-pencil-square"></a>
							</td>
							<td class="text-center">
								<a href="/Prestamos/Delete/@Prestamo.DeudorId" class="btn btn-outline-light bi bi-trash"></a>
							</td>
					
						</tr>
					}	
				
			</tbody>

		</table>

		</div>

	</div>
</div>
@code {
	public string Filtro { get; set; } = "id";
	public string ValorFiltro {get; set;}
	public List<Prestamos> ListPrestamos { get; set; } = new List<Prestamos>();

	protected override async Task OnInitializedAsync()
	{
		ListPrestamos = await PrestamoServices.Listar(t => true);
	}

	public async Task Buscar()
	{
		if(Filtro =="id" && int.TryParse(ValorFiltro, out int DeudorId))
		{
			ListPrestamos = await PrestamoServices.Listar(t => t.DeudorId == DeudorId);
		}else if(Filtro == "nombre")
		{
			ListPrestamos = await PrestamoServices.Listar(t => t.Nombres == ValorFiltro);
		}
		else
		{
			ListPrestamos = await PrestamoServices.Listar(t => true);

		}
	}
}


